:root.__theme-rzd {
    --ui-kit-autocomplete-item-color: #c31b1c;
    --ui-kit-autocomplete-bg-color: #fff;
    --ui-kit-autocomplete-item-hover-bg: #f3f3f3;
    --ui-kit-autocomplete-max-height: 400px;
    --ui-kit-autocomplete-padding: 14px 0;
    --ui-kit-autocomplete-item-padding: 9px 12px;
    --ui-kit-autocomplete-z-index: 1030;
    --ui-kit-autocomplete-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    --ui-kit-autocomplete-border-radius: 2px;
    --ui-kit-calendar-day-name-height: 44px;
    --ui-kit-calendar-day-name-width: 44px;
    --ui-kit-calendar-day-name-width-mobile: 44px;
    --ui-kit-calendar-day-name-height-mobile: 45px;
    --ui-kit-calendar-day-name-font-size: 1rem;
    --ui-kit-calendar-day-name-text-transform: lowercase;
    --ui-kit-calendar-name-default-color: #767d89;
    --ui-kit-calendar-name-weekend-color: rgba(227, 27, 26, .25);
    --ui-kit-calendar-day-width: 44px;
    --ui-kit-calendar-day-height: 44px;
    --ui-kit-calendar-day-width-mobile: 44px;
    --ui-kit-calendar-day-height-mobile: 44px;
    --ui-kit-calendar-day-font-size: 1.3846153846rem;
    --ui-kit-calendar-day-font-weight: 500;
    --ui-kit-calendar-day-font-color: #1f1f24;
    --ui-kit-calendar-day-border-radius: 50%;
    --ui-kit-calendar-day-default-border: 0 solid transparent;
    --ui-kit-calendar-day-default-margin: 0;
    --ui-kit-calendar-day-today-width: 30px;
    --ui-kit-calendar-day-today-height: 30px;
    --ui-kit-calendar-day-today-bg-color: #e21a1a;
    --ui-kit-calendar-day-today-font-color: #fff;
    --ui-kit-calendar-day-weekend-font-color: #e21a1a;
    --ui-kit-calendar-day-weekend-hovered-font-color: #c31b1c;
    --ui-kit-calendar-day-weekend-selected-font-color: #fff;
    --ui-kit-calendar-day-hovered-border: 0 solid transparent;
    --ui-kit-calendar-day-hovered-bg-color: #e9eaed;
    --ui-kit-calendar-day-hovered-font-color: #c31b1c;
    --ui-kit-calendar-day-selected-border: 0 solid transparent;
    --ui-kit-calendar-day-selected-bg-color: #c31b1c;
    --ui-kit-calendar-day-selected-wrapper-bg-color: #fff;
    --ui-kit-calendar-day-selected-color: #fff;
    --ui-kit-calendar-day-selected-margin: 0;
    --ui-kit-calendar-day-selected-border-radius: 50%;
    --ui-kit-calendar-day-between-selected-bg-color: rgba(227, 27, 26, .07);
    --ui-kit-calendar-day-hover-highlighted-bg-color: rgba(227, 27, 26, .07);
    --ui-kit-calendar-day-disabled-opacity: .3;
    --ui-kit-calendar-week-bg-color: #fff;
    --ui-kit-calendar-week-border-top: 1px solid #e9eaed;
    --ui-kit-calendar-week-border-bottom: 1px solid #e9eaed;
    --ui-kit-calendar-week-margin-top: 15px;
    --ui-kit-calendar-week-margin-bottom: 4px;
    --ui-kit-calendar-day-start-end-interval-border-radius: 999px;
    --ui-kit-calendar-day-wrapper-border-radius: 50%;
    --ui-kit-datepicker-bg-color: #fff;
    --ui-kit-datepicker-border-radius: 2px;
    --ui-kit-datepicker-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    --ui-kit-datepicker-z-index: 1110;
    --ui-kit-datepicker-wrapper-padding: 16px;
    --ui-kit-datepicker-header-date-margin: 0 0 -24px 0;
    --ui-kit-datepicker-header-date-font-size: 1rem;
    --ui-kit-datepicker-header-date-text-transform: none;
    --ui-kit-datepicker-header-date-font-color: #e21a1a;
    --ui-kit-datepicker-single-desktop-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .3);
    --ui-kit-datepicker-mobile-max-width: 550px;
    --ui-kit-datepicker-second-calendar-margin: 0 0 8px 20px;
    --ui-kit-datepicker-mobile-inputs-container-margin: 0 0 8px 0;
    --ui-kit-datepicker-mobile-input-first-child-padding: 0 4px 0 8px;
    --ui-kit-datepicker-mobile-input-last-child-padding: 0 8px 0 4px;
    --ui-kit-datepicker-mobile-continue-btn-width: 140px;
    --ui-kit-datepicker-mobile-interval-prev-btn-padding: 0 0 16px 0;
    --ui-kit-datepicker-mobile-interval-next-btn-padding: 16px 0 0 0;
    --ui-kit-form-field-label-text-color: #a9aeba;
    --ui-kit-form-field-label-asterisk-text-color: #ff5a13;
    --ui-kit-form-field-label-font-size: .8461538462rem;
    --ui-kit-form-field-label-min-height: 27px;
    --ui-kit-input-bg-color: #fff;
    --ui-kit-input-bg-color-hover: #fff;
    --ui-kit-input-bg-color-selected: #fff;
    --ui-kit-input-bg-color-disabled: #d9dbdf;
    --ui-kit-input-suffix-color: #1f1f24;
    --ui-kit-input-postfix-color: #1f1f24;
    --ui-kit-input-icon-default-color: #1f1f24;
    --ui-kit-input-placeholder-color: #a9aeba;
    --ui-kit-input-text-color: #1f1f24;
    --ui-kit-input-border-color: #d9dbdf;
    --ui-kit-input-border-hover-color: #a9aeba;
    --ui-kit-input-border-selected-color: #767d89;
    --ui-kit-input-validation-error-color: #ff5a13;
    --ui-kit-input-down-value-text-color: #1f1f24;
    --ui-kit-input-clear-btn-color: #a9aeba;
    --ui-kit-input-bg-color-dark: #fff;
    --ui-kit-input-bg-color-hover-dark: #fff;
    --ui-kit-input-bg-color-selected-dark: #fff;
    --ui-kit-input-bg-color-disabled-dark: #d9dbdf;
    --ui-kit-input-suffix-color-dark: #1f1f24;
    --ui-kit-input-postfix-color-dark: #1f1f24;
    --ui-kit-input-icon-default-color-dark: #1f1f24;
    --ui-kit-input-placeholder-color-dark: #a9aeba;
    --ui-kit-input-text-color-dark: #1f1f24;
    --ui-kit-input-border-color-dark: #d9dbdf;
    --ui-kit-input-border-hover-color-dark: #d9dbdf;
    --ui-kit-input-border-selected-color-dark: #d9dbdf;
    --ui-kit-input-validation-error-color-dark: #ff5a13;
    --ui-kit-input-bg-color-search: #fff;
    --ui-kit-input-bg-color-hover-search: #fff;
    --ui-kit-input-font-size-search: 1.3846153846rem;
    --ui-kit-input-suffix-color-search: #a9aeba;
    --ui-kit-input-postfix-color-search: #a9aeba;
    --ui-kit-input-border-color-search: transparent;
    --ui-kit-input-border-hover-color-search: transparent;
    --ui-kit-input-border-thickness: 1px;
    --ui-kit-input-border-thickness-selected: 2px;
    --ui-kit-input-height: 48px;
    --ui-kit-input-height-search: 64px;
    --ui-kit-input-border-radius: 0;
    --ui-kit-input-suffix-padding-left: 8px;
    --ui-kit-input-postfix-padding-right: 8px;
    --ui-kit-input-icon-padding-horizontal: 12px;
    --ui-kit-input-box-shadow: none;
    --ui-kit-input-box-shadow-hover: none;
    --ui-kit-input-box-shadow-focus: none;
    --ui-kit-input-disabled-opacity: .25;
    --ui-kit-select__bg-color: #fff;
    --ui-kit-select__bg-color-hover: #fff;
    --ui-kit-select__bg-color-selected: #fff;
    --ui-kit-select__option-background-hover: #f3f3f3;
    --ui-kit-select__option-color: #1f1f24;
    --ui-kit-select__option-color-hover: #c31b1c;
    --ui-kit-select__triangle-color: #1f1f24;
    --ui-kit-select__arrow-color: #2bbe5d;
    --ui-kit-select__option-text-color: #1f1f24;
    --ui-kit-select__select-border-style: 1px solid #d9dbdf;
    --ui-kit-select__select-border-style-hover: 1px solid #a9aeba;
    --ui-kit-select__select-border-style-open: 2px solid #767d89;
    --ui-kit-select__options-border-style: none;
    --ui-kit-select__options-search-border-bottom-style: 1px solid #d9dbdf;
    --ui-kit-select__select-options-background: #fff;
    --ui-kit-select__select-shadow-style: none;
    --ui-kit-select__select-shadow-style-hover: none;
    --ui-kit-select__select-shadow-style-open: none;
    --ui-kit-select__select-placeholder-color: #a9aeba;
    --ui-kit-select__select-options-shadow-style: 0 2px 8px 0 rgba(0, 0, 0, .4);
    --ui-kit-select__border-radius: 0;
    --ui-kit-select__select-value-color: #1f1f24;
    --ui-kit-select__select-bg-color-disabled: #d9dbdf;
    --ui-kit-select__search-icon-color: #a9aeba;
    --ui-kit-select__search-placeholder-color: #a9aeba;
    --ui-kit-select__empty-list-color: #a9aeba;
    --ui-kit-select__clear-cross-color: #a9aeba;
    --ui-kit-select__select-border-style-error: #ff5a13;
    --ui-kit-select__select-border-bottom-style-error: transparent;
    --ui-kit-select__triangle-color-error: #1f1f24;
    --ui-kit-select__select-placeholder-color-error: #ff5a13;
    --ui-kit-tooltip-bg-color-light: #fff;
    --ui-kit-tooltip-text-color-light: #1f1f24;
    --ui-kit-tooltip-arrow-shadow-color-light: rgba(0, 0, 0, .08);
    --ui-kit-tooltip-close-btn-icon-color-light: #1f1f24;
    --ui-kit-tooltip-bg-color-dark: #40434a;
    --ui-kit-tooltip-text-color-dark: #fff;
    --ui-kit-tooltip-arrow-shadow-color-dark: rgba(0, 0, 0, .08);
    --ui-kit-tooltip-close-btn-icon-color-dark: #fff;
    --ui-kit-tooltip-bg-color-error: #ff5a13;
    --ui-kit-tooltip-text-color-error: #fff;
    --ui-kit-tooltip-close-btn-icon-color-error: #fff;
    --ui-kit-tooltip-arrow-size: 6px;
    --ui-kit-tooltip-border-radius: 2px;
    --ui-kit-tooltip-content-padding-sm: 6px;
    --ui-kit-tooltip-content-padding-md: 12px;
    --ui-kit-tooltip-content-padding-lg: 24px;
    --ui-kit-tooltip-close-btn-size: 24px;
    --ui-kit-tooltip-box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
    --ui-kit-loader-spinner-circle-background: #e21a1a;
    --ui-kit-loader-spinner-linear-color: #e21a1a;
    --ui-kit-loader-gradient-spinner-color: #e21a1a;
    --ui-kit-loader-gradient-spinner-dark-color: #fff;
    --ui-kit-loader-spinner-width: 40px;
    --ui-kit-loader-spinner-height: 40px;
    --ui-kit-loader-spinner-item-width: 100%;
    --ui-kit-loader-spinner-item-height: 100%;
    --ui-kit-loader-spinner-circle-width: 15%;
    --ui-kit-loader-spinner-circle-height: 15%;
    --ui-kit-loader-spinner-margin: auto;
    --ui-kit-loader-spinner-item-position-left: 0;
    --ui-kit-loader-spinner-item-position-top: 0;
    --ui-kit-loader-spinner-circle-margin: 0 auto;
    --ui-kit-radio-button__bullet-ripple-background-hover: transparent;
    --ui-kit-radio-button__bullet-ripple-background-active: transparent;
    --ui-kit-radio-button__bullet-border-color-checked: #e21a1a;
    --ui-kit-radio-button__bullet-check-color: #fff;
    --ui-kit-radio-button__bullet-border-color-unchecked: 2px solid #a9aeba;
    --ui-kit-radio-button__bullet-background-unchecked: #fff;
    --ui-kit-radio-button__radio-button-text-color: #1f1f24;
    --ui-kit-radio-button__radio-panel-text-color-unchecked: #1f1f24;
    --ui-kit-radio-button__radio-panel-text-color-checked: #1f1f24;
    --ui-kit-radio-button__radio-panel-border-color-unchecked: #e21a1a;
    --ui-kit-radio-button__radio-panel-border-color-checked: #464a53;
    --ui-kit-radio-button__radio-panel-background-unchecked: transparent;
    --ui-kit-radio-button__radio-panel-background-checked: transparent;
    --ui-kit-radio-button__bullet-background-checked: #e21a1a;
    --ui-kit-rating__rating-star-padding: 0 16px 0 0;
    --ui-kit-rating__rating-star-color: #d9dbdf;
    --ui-kit-rating__rating-star-color-active: #e21a1a;
    --ui-kit-checkbox__box-size: 24px;
    --ui-kit-checkbox__checkbox-checkmark: #fff;
    --ui-kit-checkbox__checked-box-background: #e21a1a;
    --ui-kit-checkbox__checked-box-border: #f3f3f3;
    --ui-kit-checkbox__unchecked-box-background: transparent;
    --ui-kit-checkbox__unchecked-box-border: #f3f3f3;
    --ui-kit-checkbox__unchecked-box-shadow: #d9dbdf;
    --ui-kit-checkbox__checkbox-text: #1f1f24;
    --ui-kit-checkbox__checked-box-opacity: 1;
    --ui-kit-checkbox__unchecked-box-opacity: 1;
    --ui-kit-checkbox__checkbox-ripple-background-hover: transparent;
    --ui-kit-checkbox__checkbox-ripple-background-active: transparent;
    --ui-kit-checkbox__border-radius: 4px;
    --ui-kit-checkbox__disabled-box-background: #d9dbdf;
    --ui-kit-checkbox__disabled-checked-box-border: rgba(255, 255, 255, .3);
    --ui-kit-checkbox__disabled-checkbox-checkmark: #fff;
    --ui-kit-checkbox__hover-checked-box-border: #f3f3f3;
    --ui-kit-checkbox__hover-checkbox-checkmark: #fff;
    --ui-kit-checkbox__active-checked-box-border: #f3f3f3;
    --ui-kit-checkbox__active-checkbox-checkmark: #d9dbdf;
    --ui-kit-checkbox__hover-unchecked-box-border: #f3f3f3;
    --ui-kit-checkbox__hover-unchecked-box-shadow: #a9aeba;
    --ui-kit-checkbox__active-unchecked-box-border: #f3f3f3;
    --ui-kit-checkbox__active-unchecked-box-shadow: #767d89;
    --ui-kit-checkbox__active-unchecked-background: #f3f3f3;
    --ui-kit-checkbox__unchecked-box-shadow-inverse: #d9dbdf;
    --ui-kit-checkbox__checkbox-ripple-background-hover-inverse: transparent;
    --ui-kit-checkbox__checkbox-ripple-background-active-inverse: transparent;
    --ui-kit-checkbox__checkbox-checkmark-inverse: #fff;
    --ui-kit-checkbox__checked-box-background-inverse: #e21a1a;
    --ui-kit-checkbox__checked-box-border-inverse: #464a53;
    --ui-kit-checkbox__unchecked-box-border-inverse: #464a53;
    --ui-kit-checkbox__disabled-box-background-inverse: transparent;
    --ui-kit-checkbox__disabled-checked-box-border-inverse: rgba(255, 255, 255, .3);
    --ui-kit-checkbox__disabled-checkbox-checkmark-inverse: rgba(255, 255, 255, .3);
    --ui-kit-checkbox__hover-checked-box-border-inverse: #464a53;
    --ui-kit-checkbox__hover-checkbox-checkmark-inverse: #fff;
    --ui-kit-checkbox__active-checked-box-border-inverse: #464a53;
    --ui-kit-checkbox__active-checkbox-checkmark-inverse: #d9dbdf;
    --ui-kit-checkbox__hover-unchecked-box-border-inverse: #464a53;
    --ui-kit-checkbox__active-unchecked-box-border-inverse: #464a53;
    --ui-kit-checkbox__unchecked-box-background-inverse: #1f1f24;
    --ui-kit-checkbox__border-thickness: 2px;
    --ui-kit-checkbox__checkmark-thickness: 3px;
    --ui-kit-checkbox__invalid-box-shadow-color: #ff5a13;
    --ui-kit-checkbox__checkbox-checkmark-size: 12px;
    --ui-kit-checkbox__hover-checked-box-border-background: #c31b1c;
    --ui-kit-modal__layer-background: rgba(0, 0, 0, .2);
    --ui-kit-notice__container-margin: 0 0 24px 0;
    --ui-kit-notice__container-z-index: 1099;
    --ui-kit-notice__container-z-index-over-modal: 1201;
    --ui-kit-notice__container-margin-mobile: 0;
    --ui-kit-notice__container-padding-mobile: 0 8px;
    --ui-kit-notice__message-width: 608px;
    --ui-kit-notice__message-min-height: 48px;
    --ui-kit-notice__message-padding: 8px;
    --ui-kit-notice__message-margin: 0 0 24px 0;
    --ui-kit-notice__message-box-shadow: 0 8px 20px rgba(0, 0, 0, .3);
    --ui-kit-notice__message-border-radius: 8px;
    --ui-kit-notice__message-margin-mobile: 8px;
    --ui-kit-notice__message-success-bg-color: #fff;
    --ui-kit-notice__message-warning-bg-color: #767d89;
    --ui-kit-notice__message-info-bg-color: #767d89;
    --ui-kit-notice__message-error-bg-color: #ff5a13;
    --ui-kit-notice__warning-icon-color: #fff;
    --ui-kit-notice__info-icon-color: #fff;
    --ui-kit-notice__error-icon-color: #fff;
    --ui-kit-notice__success-icon-color: #2bbe5d;
    --ui-kit-notice__warning-text-font-color: #fff;
    --ui-kit-notice__info-text-font-color: #fff;
    --ui-kit-notice__error-text-font-color: #fff;
    --ui-kit-notice__success-text-font-color: #1f1f24;
    --ui-kit-notice__warning-close-icon-color: #fff;
    --ui-kit-notice__info-close-icon-color: #fff;
    --ui-kit-notice__error-close-icon-color: #fff;
    --ui-kit-notice__success-close-icon-color: #1f1f24;
    --ui-kit-notice__message-icon-margin: 0 8px 0 0;
    --ui-kit-notice__message-text-font-size: 1.0769230769rem;
    --ui-kit-notice__message-text-line-height: 18px;
    --ui-kit-notice__message-text-padding: 8x 16px 8px 0;
    --ui-kit-notice__description-warning-font-color: #ff5a13;
    --ui-kit-button__padding: 0 8px;
    --ui-kit-button__text-transform: uppercase;
    --ui-kit-button__text-font-size: 1.0769230769rem;
    --ui-kit-button__border-radius: 0;
    --ui-kit-button__content-text-padding: 1px 0 0 0;
    --ui-kit-button__disabled-opacity: 1;
    --ui-kit-button__loader: #e21a1a;
    --ui-kit-button__loader-dark: #fff;
    --ui-kit-button__loader-dots-display: none;
    --ui-kit-button__loader-gradient-spinner-display: block;
    --ui-kit-button__loader-gradient-spinner-background-image-usual: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16' height='16' width='16'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath d='M8,1.5A6.5,6.5,0,1,1,1.5,8,6.5,6.5,0,0,1,8,1.5ZM0,8A8,8,0,1,0,8,0,8,8,0,0,0,0,8Z' fill='none' /%3E%3C/clipPath%3E%3ClinearGradient id='linear-gradient' x1='16' y1='-6' x2='28' y2='4' gradientTransform='translate(0 -6) rotate(45)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E21A1A' stop-opacity='0' /%3E%3Cstop offset='1' stop-color='%23E21A1A' stop-opacity='1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cg clip-path='url(%23clip-path)'%3E%3Crect x='8' fill='url(%23linear-gradient)' height='16' width='16' /%3E%3Crect x='-8' fill='%23E21A1A' height='16' width='16' /%3E%3C/g%3E%3C/svg%3E");
    --ui-kit-button__loader-gradient-spinner-background-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16' height='16' width='16'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath d='M8,1.5A6.5,6.5,0,1,1,1.5,8,6.5,6.5,0,0,1,8,1.5ZM0,8A8,8,0,1,0,8,0,8,8,0,0,0,0,8Z' fill='none' /%3E%3C/clipPath%3E%3ClinearGradient id='linear-gradient' x1='16' y1='-6' x2='28' y2='4' gradientTransform='translate(0 -6) rotate(45)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0' /%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cg clip-path='url(%23clip-path)'%3E%3Crect x='8' fill='url(%23linear-gradient)' height='16' width='16' /%3E%3Crect x='-8' fill='%23FFFFFF' height='16' width='16' /%3E%3C/g%3E%3C/svg%3E");
    --ui-kit-button__terminal-background: #e21a1a;
    --ui-kit-button__terminal-background-hover: #c31b1c;
    --ui-kit-button__terminal-background-clicked: #c31b1c;
    --ui-kit-button__terminal-background-disabled: #d9dbdf;
    --ui-kit-button__terminal-color: #fff;
    --ui-kit-button__terminal-color-hover: #fff;
    --ui-kit-button__terminal-color-clicked: rgba(255, 255, 255, .75);
    --ui-kit-button__terminal-color-disabled: #a9aeba;
    --ui-kit-button__usual-background: #f3f3f3;
    --ui-kit-button__usual-background-hover: #c31b1c;
    --ui-kit-button__usual-background-clicked: #c31b1c;
    --ui-kit-button__usual-background-disabled: #d9dbdf;
    --ui-kit-button__usual-color: #e21a1a;
    --ui-kit-button__usual-color-hover: #fff;
    --ui-kit-button__usual-color-clicked: rgba(255, 255, 255, .75);
    --ui-kit-button__usual-color-disabled: #a9aeba;
    --ui-kit-button__usual-border-color: transparent;
    --ui-kit-button__bordered-light-background: transparent;
    --ui-kit-button__bordered-light-background-hover: transparent;
    --ui-kit-button__bordered-light-background-clicked: transparent;
    --ui-kit-button__bordered-light-background-disabled: transparent;
    --ui-kit-button__bordered-light-color: #e21a1a;
    --ui-kit-button__bordered-light-color-hover: #c31b1c;
    --ui-kit-button__bordered-light-color-clicked: #c31b1c;
    --ui-kit-button__bordered-light-color-disabled: #a9aeba;
    --ui-kit-button__prime-text-transform: uppercase;
    --ui-kit-button__prime-background: #e21a1a;
    --ui-kit-button__prime-background-hover: #c31b1c;
    --ui-kit-button__prime-background-clicked: #c31b1c;
    --ui-kit-button__prime-background-disabled: #d9dbdf;
    --ui-kit-button__prime-color: #fff;
    --ui-kit-button__prime-color-hover: #fff;
    --ui-kit-button__prime-color-clicked: rgba(255, 255, 255, .75);
    --ui-kit-button__prime-color-disabled: #a9aeba;
    --ui-kit-button__prime-font-size: 1.3076923077rem;
    --ui-kit-button__prime-font-weight: 500;
    --ui-kit-button__prime-header-text-transform: uppercase;
    --ui-kit-button__prime-header-background: #f3f3f3;
    --ui-kit-button__prime-header-background-hover: #c31b1c;
    --ui-kit-button__prime-header-background-clicked: #c31b1c;
    --ui-kit-button__prime-header-background-disabled: #d9dbdf;
    --ui-kit-button__prime-header-color: #1f1f24;
    --ui-kit-button__prime-header-color-hover: #fff;
    --ui-kit-button__prime-header-color-clicked: rgba(255, 255, 255, .75);
    --ui-kit-button__prime-header-color-disabled: #a9aeba;
    --ui-kit-button__prime-header-border-color: transparent;
    --ui-kit-button__prime-header-font-size: 1.3076923077rem;
    --ui-kit-button__prime-header-font-weight: 400;
    --ui-kit-button__bordered-dark-background-hover: transparent;
    --ui-kit-button__bordered-dark-background-clicked: transparent;
    --ui-kit-button__bordered-dark-color: #fff;
    --ui-kit-button__bordered-dark-color-hover: #fff;
    --ui-kit-button__bordered-dark-color-clicked: rgba(255, 255, 255, .75);
    --ui-kit-button__bordered-dark-color-disabled: #a9aeba;
    --ui-kit-button__transparent-light-background: #f3f3f3;
    --ui-kit-button__transparent-background-hover: #c31b1c;
    --ui-kit-button__transparent-background-clicked: #c31b1c;
    --ui-kit-button__transparent-background-disabled: #f3f3f3;
    --ui-kit-button__transparent-color: #e21a1a;
    --ui-kit-button__transparent-color-hover: #fff;
    --ui-kit-button__transparent-color-clicked: rgba(255, 255, 255, .75);
    --ui-kit-button__transparent-color-disabled: #a9aeba;
    --ui-kit-button__transparent-border-color: transparent;
    --ui-kit-button__transparent-dark-background: #f3f3f3;
    --ui-kit-button__transparent-dark-background-hover: #c31b1c;
    --ui-kit-button__transparent-dark-background-clicked: #c31b1c;
    --ui-kit-button__transparent-dark-background-disabled: #f3f3f3;
    --ui-kit-button__transparent-dark-color: #fff;
    --ui-kit-button__transparent-dark-color-hover: #fff;
    --ui-kit-button__transparent-dark-color-clicked: rgba(255, 255, 255, .75);
    --ui-kit-button__transparent-dark-color-disabled: #a9aeba;
    --ui-kit-button__icon-only-background: transparent;
    --ui-kit-button__icon-only-background-hover: #c31b1c;
    --ui-kit-button__icon-only-background-clicked: #c31b1c;
    --ui-kit-button__icon-only-color: #1f1f24;
    --ui-kit-button__icon-only-color-hover: #fff;
    --ui-kit-button__icon-only-color-clicked: rgba(255, 255, 255, .75);
    --ui-kit-button__icon-only-color-disabled: #a9aeba;
    --ui-kit-button__icon-only-dark-background: transparent;
    --ui-kit-button__icon-only-dark-background-hover: transparent;
    --ui-kit-button__icon-only-dark-background-clicked: transparent;
    --ui-kit-button__icon-only-dark-color: #fff;
    --ui-kit-button__icon-only-dark-color-hover: #fff;
    --ui-kit-button__icon-only-dark-color-clicked: rgba(255, 255, 255, .75);
    --ui-kit-button__icon-only-dark-color-disabled: #767d89;
    --ui-kit-progress-bar__buffer: #f3f3f3;
    --ui-kit-progress-bar__fill: #e21a1a;
    --ui-kit-menu__menu-background: #fff;
    --ui-kit-menu__menu-item-color: #1f1f24;
    --ui-kit-menu__menu-item-background-hover: #f3f3f3;
    --ui-kit-menu__menu-item-background-active: #f3f3f3;
    --ui-kit-menu__menu-item-color-hover: #c31b1c;
    --ui-kit-menu__menu-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
    --ui-kit-tab__tab-bar: #e21a1a;
    --ui-kit-tab__tab-background-hover: #c31b1c;
    --ui-kit-tab__tab-background-active: #c31b1c;
    --ui-kit-tab__tab-text: #1f1f24;
    --ui-kit-tab__tab-text-hover: #fff;
    --ui-kit-tab__tab-text-current: #e21a1a;
    --ui-kit-tab__tab-text-active: rgba(255, 255, 255, .75);
    --ui-kit-tab__counter-background: #e21a1a;
    --ui-kit-tab__counter-text: #fff;
    --ui-kit-tab__counter-text-inactive: #a9aeba;
    --ui-kit-tab__tab-bar-inverse: #e21a1a;
    --ui-kit-tab__tab-background-hover-inverse: #c31b1c;
    --ui-kit-tab__tab-background-active-inverse: #c31b1c;
    --ui-kit-tab__tab-text-inverse: #1f1f24;
    --ui-kit-tab__tab-text-hover-inverse: #fff;
    --ui-kit-tab__tab-text-active-inverse: #fff;
    --ui-kit-tab__tab-text-current-inverse: #e21a1a;
    --ui-kit-tab__tab-text-unimportant: #1f1f24;
    --ui-kit-tab__tab-text-unimportant-inverse: #1f1f24;
    --ui-kit-tab__tab-text-unimportant-hover: #fff;
    --ui-kit-tab__tab-text-unimportant-hover-inverse: #1f1f24;
    --ui-kit-tab__small-tab-border-radius: 0;
    --ui-kit-textarea__font-color: #1f1f24;
    --ui-kit-textarea__font-color-disabled: #767d89;
    --ui-kit-textarea__placeholder-color: #a9aeba;
    --ui-kit-textarea__bg-color: #fff;
    --ui-kit-textarea__bg-color-hovered: #fff;
    --ui-kit-textarea__bg-color-selected: #fff;
    --ui-kit-textarea__bg-color-disabled: #d9dbdf;
    --ui-kit-textarea__validation-color-error: #e21a1a;
    --ui-kit-textarea__disabled-opacity: 1;
    --ui-kit-textarea__border: 1px solid #d9dbdf;
    --ui-kit-textarea__border-focused: 2px solid #767d89;
    --ui-kit-textarea__box-shadow: none;
    --ui-kit-textarea__box-shadow-hover: none;
    --ui-kit-textarea__box-shadow-focus: none;
    --ui-kit-textarea__border-radius: 0;
    --ui-kit-slider__slider-main: #e21a1a;
    --ui-kit-slider__slider-line: #d9dbdf;
    --ui-kit-slider__slider-hovered: #c31b1c;
    --ui-kit-slider__slider-clicked: #c31b1c;
    --ui-kit-slider__button-hover: #e21a1a;
    --ui-kit-slider__button-pressed: #e21a1a;
    --ui-kit-slider__button-border-color: #fff;
    --ui-kit-slider__slider-line-height: 4px;
    --ui-kit-slider__slider-line-border-radius: 2px;
    --ui-kit-mobile-form-panel__panel-bg-color: #fff;
    --ui-kit-mobile-form-panel__panel-z-index: 1200;
    --ui-kit-mobile-form-panel__panel-header-min-height: 56px;
    --ui-kit-mobile-form-panel__panel-header-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    --ui-kit-mobile-form-panel__panel-header-row-padding: 8px 0 0 0;
    --ui-kit-mobile-form-panel__panel-header-content-padding: 8px;
    --ui-kit-mobile-form-panel__panel-header-content-font-size: 16px;
    --ui-kit-mobile-form-panel__panel-header-font-color: #1f1f24;
    --ui-kit-mobile-form-panel__panel-header-close-padding: 0 0 0 8px;
    --ui-kit-mobile-form-panel__panel-body-margin: 16px 0;
    --ui-kit-mobile-form-panel__panel-body-padding: 0 8px;
    --ui-kit-mobile-form-panel__panel-footer-min-height: 56px;
    --ui-kit-mobile-form-panel__panel-footer-padding: 4px;
    --ui-kit-mobile-form-panel__panel-footer-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .2);
    --ui-kit-counter__button-background: #f3f3f3;
    --ui-kit-counter__button-background-hover: #c31b1c;
    --ui-kit-counter__button-background-clicked: #c31b1c;
    --ui-kit-counter__button-svg-fill: #1f1f24;
    --ui-kit-counter__button-svg-fill-hover: #fff;
    --ui-kit-counter__button-svg-fill-clicked: rgba(255, 255, 255, .75);
    --ui-kit-counter__button-svg-fill-disabled: #a9aeba;
    --ui-kit-counter__button-svg-opacity-disabled: 1;
    --ui-kit-counter__font-color: #1f1f24;
    --svg-color-base: #868d98;
    --svg-color-disabled: #d2d7db;
    --svg-color-error: #E63837;
    --color-dark: #1f1f24;
    --color-amethyst: #e31b1a;
    --color-light-amethyst: #f9c9c8;
    --color-blueberry: #e31b1a;
    --color-lilac: #e31b1a;
    --color-royal-purple: #e31b1a;
    --color-purple: #e31b1a;
    --color-amethyst-hex-hover-warmer: #f9c9c8;
    --color-amethyst-hex-hover: #fce8e8;
    --color-amethyst-hex-hover-light: #f9c9c8;
    --color-amethyst-hex-active: #f9c9c8;
    --color-amethyst-hex-hover-almost-white: #f9c9c8;
    --color-amethyst-pale-hover: #fce4e4;
    --color-amethyst-pale-active: #f8c7c6;
    --color-pale-amethyst: #fef6f6;
    --color-tomato: #e21a1a;
    --color-steel: #767d89;
    --color-steel-two: #a9aeba;
    --color-emerald: #2bbe5d;
    --color-turtle-green: #2bbe5d;
    --color-lackish-green: #2bbe5d;
    --color-black: #1f1f24;
    --color-rgb-amethyst: 227, 27, 26;
    --color-rgb-light-amethyst: 249, 201, 200;
    --color-rgb-blueberry: 227, 27, 26;
    --color-rgb-lilac: 227, 27, 26;
    --color-rgb-royal-purple: 227, 27, 26;
    --color-rgb-purple: 227, 27, 26;
    --color-rgb-amethyst-hex-hover-warmer: 249, 201, 200;
    --color-rgb-amethyst-hex-hover: 249, 201, 200;
    --color-rgb-amethyst-hex-hover-light: 249, 201, 200;
    --color-rgb-amethyst-hex-active: 249, 201, 200;
    --color-rgb-amethyst-hex-hover-almost-white: 249, 201, 200;
    --color-rgb-whitelabel-red: 227, 27, 26;
    --color-rgb-whitelabel-red-light: 251, 227, 226;
    --color-rgb-whitelabel-black: 8, 11, 16;
    --color-rgb-whitelabel-dark: 70, 74, 83;
    --color-rgb-whitelabel-gray: 118, 124, 136;
    --color-rgb-whitelabel-gray-light: 151, 156, 165;
    --color-rgb-whitelabel-gray-base: 245, 246, 247;
    --color-rgb-whitelabel-silver: 233, 234, 238;
    --color-rgb-whitelabel-white: 255, 255, 255;
    --color-borders: #d9dbdf;
    --color-error: #ff5a13;
    --color-rgb-error: 235, 23, 64;
    --search-panel-background: rgba(233, 234, 238, .87);
    --search-panel-input: #fff;
    --search-panel-mobile-input-color: #767c88;
    --base-schedule-search-panel-background: var(--search-panel-background);
    --focus-frame-outline: 2px solid #d9dbdf;
    --header-background: #fff;
    --color-rgb-header-item-background: 239, 240, 241;
    --header-item-background-color-hover: #c31b1c;
    --header-item-background-color-active: #c31b1c;
    --header-item-color: #fff;
    --header-item-color-default: #1f1f24;
    --header-item-color-hover: #fff;
    --header-item-color-active: rgba(255, 255, 255, .75);
    --header-logo: #fff;
    --color-link: #4a89dc;
    --header-tab-color: #e31b1a;
    --header-tab-background: #e31b1a;
    --color-rgb-header-tab-color: 227, 27, 26;
    --color-rgb-header-tab-background: 227, 27, 26;
    --color-rgb-header-item: 8, 11, 16;
    --placeholder: #fff;
    --body-background: #e9eaed;
    --header-tabs--panel-background: var(--header-background, #fff);
    --color-rgb-header-tabs-panel-background: 255, 255, 255;
    --header-passenger-form: #767c88;
    --header-payment: #767c88;
    --ui-slider-background: #e9eaee;
    --ui-slider-range: #979ca5;
    --ui-slider-handler: #979ca5;
    --color-rgb-ui-slider-handler: 151, 156, 165;
    --cart-widget-background: #fff;
    --cart-widget-icon: #767c88;
    --direction-city-background-active: white;
    --direction-city-color: #080b10;
    --color-rgb-direction-city-color: 8, 11, 16;
    --direction-city-color-active: #080b10;
    --color-rgb-direction-city-background-active: 227, 27, 26;
    --direction-city-border-radius: var(--border-radius);
    --panel-group-background: #d2d7db;
    --seat-tooltip-background: #464a53;
    --seat-tooltip-color: #fff;
    --seat-tooltip-color-accent: #e9eaee;
    --search-panel-mobile-background: #fff;
    --border-radius: 0px;
    --passenger-navbar-item-color: #080b10;
    --passenger-navbar-item-active-background: #767c88;
    --passenger-navbar-item-active-color: #080b10;
    --passenger-navbar-item-active-border: #e31b1a;
    --passenger-navbar-item-hover-background: #979ca5;
    --passenger-navbar-item-hover-color: #080b10;
    --passenger-navbar-item-hover-border: #e31b1a;
    --user-menu-forgot-password: #fff;
    --legacy-rzd-date-input-bg-color: white;
    --legacy-rzd-date-input-bg-active-color: #080b10;
    --legacy-rzd-date-input-placeholder-color: #080b10;
    --legacy-rzd-date-input-placeholder-value-color: #080b10;
    --legacy-rzd-date-input-placeholder-active-color: #080b10;
    --legacy-rzd-date-input-icon-value: #767c88;
    --legacy-rzd-date-input-icon-active: #e31b1a;
    --rzd-search-panel-input-border-color: transparent;
    --rzd-search-panel-input-box-shadow: none;
    --rzd-search-panel-input-icon: #767c88;
    --rzd-search-panel-input-icon-focus: #e31b1a;
    --rzd-search-panel-input-icon-active: #e31b1a;
    --rzd-search-panel-input-icon-default-opacity: .5;
    --rzd-search-panel-input-icon-hover-opacity: .85;
    --header-menus-close-button: #fff;
    --sort-item-text-color: #767d89;
    --sort-item-background-hover: #e9eaee;
    --sort-item-text-color-hover: #c31b1c;
    --sort-item-background-pressed: #fbe3e2;
    --sort-item-text-color-pressed: #e31b1a;
    --sort-item-background-selected: transparent;
    --sort-item-text-color-selected: #e31b1a;
    --sort-item-dark-text-color: #080b10;
    --sort-item-dark-text-color-hover: #080b10;
    --sort-item-dark-text-color-pressed: #e31b1a;
    --sort-item-dark-text-color-selected: #e31b1a;
    --sort-item-border-radius: 12px;
    --train-card-text: #868d98;
    --train-card-name: #394a58;
    --train-card-seats: #e31b1a;
    --train-card-sum: #e31b1a;
    --train-card-sum-forbidden: var(--train-card-text);
    --train-card-text-hover: #080b10;
    --train-card-background-hover: #f8f8f8;
    --train-card-class-text-hover: #080b10;
    --train-card-name-hover: var(--train-card-name);
    --train-card-seats-hover: var(--train-card-seats);
    --train-card-sum-hover: var(--train-card-sum);
    --train-card-sum-forbidden-hover: var(--train-card-text);
    --train-card-class-background-hover: #e9eaee;
    --train-card-class-text-active: #080b10;
    --train-card-class-background-active: #fbe3e2;
    --link-color: #e21a1a;
    --link-color-hover: #c31b1c;
    --link-color-active: #1f1f24;
    --link-text-decoration: none;
    --link-color-red: #e31b1a;
    --link-color-red-hover: #E63837;
    --link-color-red-active: #ff7768;
    --link-text-red-decoration: none;
    --link-font-weight: 400;
    --pass-rzd-link-color: #e63837;
    --pass-rzd-link-color-hover: #e95353;
    --pass-rzd-link-color-active: #e31B1A;
    --error-notification-text: #fff;
    --ui-autocomplete-panel-background: #fff;
    --ui-autocomplete-panel-text: #080b10;
    --calendar-selector-direction-text: #e31b1a;
    --class-card-background-select-wrap: #e9eaee;
    --direction-cities-title-font-weight: 400;
    --header-select-item: #080b10;
    --header-select-item-hover: #080b10;
    --header-ui-autocomplete-input-text: #080b10;
    --header-ui-autocomplete-input-background: transparent;
    --header-ui-autocomplete-reset-field: #e31b1a;
    --ui-autocomplete-selection-text: #fff;
    --filter-loader-circle-background: #e31b1a;
    --order-card-header-border-color: #e9eaee;
    --input-border-top-radius: 0;
    --input-border-bottom-radius: 0;
    --card-v2-label-background: #4a89dc;
    --search-panel-from-border-radius: var(--border-radius);
    --search-panel-to-border-radius: var(--border-radius);
    --search-panel-border-radius: 0;
    --cmmt-details-segments-title-color: #000;
    --cmmt-details-segments-title-bg: #dadce2;
    --legacy-rzd-autocomplete-underline-focus: transparent;
    --legacy-rzd-autocomplete-underline-focus-accent: transparent;
    --class-card-prices-text-color: #080b10;
    --search-results-background-color: transparent;
    --bonus-widget__box-shadow: 0 1px 3px 0 rgba(8, 11, 16, .2);
    --gender-kind-female-color: rgba(159, 98, 201, .5);
    --user-orders-filters-panel: #fff;
    --user-route-filters__filter: #e31b1a;
    --webkit-autofill-color: rgba(255, 255, 255, 0);
    --svg-scheme__gender-stateroom-st0-fill: #fff;
    --svg-scheme__gender-stateroom-st1-fill: #d2d7db;
    --svg-scheme__windows-stroke: #d2d7db;
    --svg-seat__stroke-unavailable: #ecf0f1;
    --svg-seat__fill-unavailable: #ecf0f1;
    --svg-seat__stroke-available: #5583de;
    --svg-seat__fill-available: #81bfff;
    --svg-seat__stroke-selected: #242f3f;
    --svg-seat__fill-selected: #394a58;
    --svg-seat__fill-available-hover: #bcdeff;
    --svg-seat__fill-selected-hover: #6b7882;
    --svg-seat__stroke-emphasis: #eb3349;
    --svg-bed__background-color: #ecf0f1;
    --svg-bed__border-color: #c8c8cd;
    --svg-bed__color: #c8c8cd;
    --svg-bed__border-radius: 4px;
    --svg-bed__border-color-available: #5583de;
    --svg-bed__background-color-available: #81bfff;
    --svg-bed__color-available: #fff;
    --svg-bed__border-color-selected: #394a58;
    --svg-bed__background-color-selected: #394a58;
    --svg-bed__color-selected: #fff;
    --svg-bed__border-color-unavailable: #394a58;
    --svg-bed__background-color-unavailable: #ecf0f1;
    --svg-bed__color-unavailable: #c8c8cd;
    --svg-seat__stroke-not-fit: #99ccff;
    --svg-seat__fill-not-fit: #bcdeff;
    --ui-kit-font-family: "IBM Plex Sans";
    --rzd-font-family: "RussianRail G Pro Extended", "IBM Plex Sans";
    --rzd-font-color-cta: #c31b1c;
    --rzd-font-color-primary: #1f1f24;
    --rzd-font-color-secondary: #767d89;
    --rzd-no-direct-title-color: #1f1f24;
    --rzd-time-color: #1f1f24;
    --rzd-route-container-padding: 0 16px;
    --rzd-show-route-link: #e21a1a;
    --rzd-results-card-title: #1f1f24;
    --rzd-inner-card-border: transparent;
    --rzd-inner-card-border-top: #d9dbdf;
    --rzd-inner-card-border-bottom: #d9dbdf;
    --rzd-inner-header-background: #fff;
    --rzd-inner-header-color: #1f1f24;
    --rzd-results-card-footer-color: #1f1f24;
    --rzd-results-card-footer-sum-color: #1f1f24;
    --rzd-addition-option-header-route-background-color: #fff;
    --rzd-addition-option-header-route-border-bottom: 1px solid #d9dbdf;
    --rzd-addition-option-header-route-title-color: #1f1f24;
    --rzd-addition-option-header-route-title-font-wight: 400;
    --rzd-addition-option-header-route-title-font-size: 1.5384615385rem;
    --rzd-addition-option-header-route-icon-color: #e21a1a;
    --rzd-addition-option-header-route-user-info-font-size: 1.2307692308rem;
    --rzd-addition-option-header-route-user-info-font-weight: 500;
    --rzd-addition-option-price-color: #1f1f24;
    --rzd-addition-option-price-font-size: 1.2307692308rem;
    --rzd-addition-option-price-weight: 400;
    --rzd-addition-option-baggage-title-font-size: 1.8461538462rem;
    --rzd-addition-option-baggage-title-font-weight: 600;
    --rzd-addition-option-baggage-total-price-font-size: 1.8461538462rem;
    --rzd-addition-option-baggage-total-price-font-weight: 400;
    --rzd-addition-option-baggage-total-price-description-color: #1f1f24;
    --rzd-addition-option-baggage-total-price-description-font-size: 1.5384615385rem;
    --rzd-addition-option-baggage-total-price-description-font-weight: 600;
    --rzd-addition-option-baggage-total-price-wrap-justify-content: space-between;
    --rzd-insurance-title-color: #1f1f24;
    --rzd-order-detail-header-color: #1f1f24;
    --rzd-content-bg-color: #fff;
    --rzd-content-border: 1px solid #d9dbdf;
    --rzd-header-ticket-bg-color: #fff;
    --rzd-header-ticket-color: #1f1f24;
    --rzd-header-ticket-border: 1px solid #d9dbdf;
    --rzd-ticket-card-divider: #d9dbdf;
    --rzd-complete-ticket-icon-color: #2bbe5d;
    --rzd-complete-ticket-text-color: #2bbe5d;
    --rzd-complete-ticket-error-color: #ff5a13;
    --rzd-complete-ticket-dark-color: #1f1f24;
    --rzd-text-color: #767d89;
    --rzd-link-normal: #e21a1a;
    --rzd-favorites__list-color: #767d89;
    --rzd-favorites-direction-border: #d9dbdf;
    --rzd-favorites-direction-color: #1f1f24;
    --rzd-favorites-direction-color-hover: #c31b1c;
    --rzd-favorites-direction-bg-color: #f3f3f3;
    --user-form-container-bg-color: #fff;
    --rzd-segment-route-item-border-color: #e21a1a;
    --layout-card__background: #fff;
    --layout-card__border-radius: 0;
    --layout-card__box-shadow: none;
    --rzd-foreign-railway-link-color: #e21a1a;
    --rzd-foreign-railway-icon-color: #e21a1a;
    --rzd-foreign-railway-price-color: #e21a1a;
    --rzd-foreign-railway-icon-primary-color: #1f1f24;
    --rzd-foreign-railway-text-primary-color: #1f1f24;
    --rzd-foreign-railway-text-secondary-color: #767d89;
    --rzd-foreign-railway-classes-container-border-color: #d9dbdf;
    --rzd-class-select-bg-color: #f3f3f3;
    --rzd-mobile-foreign-railway-card-classes-border: #d9dbdf;
    --notification__countdown-text-color: $color-black;
    --sidebar-toggle-button-box-shadow: 0 0 0 1px #d9dbdf;
    --rzd-c-outline-color: transparent;
    --rzd-c-normal-button-cta: #e21a1a;
    --rzd-c-normal-button-primary: #fff;
    --rzd-c-normal-button-secondary: #f3f3f3;
    --rzd-c-normal-button-icon: #1f1f24;
    --rzd-c-normal-button-border: transparent;
    --rzd-c-normal-border: #d9dbdf;
    --rzd-c-normal-background: #fff;
    --rzd-c-normal-background-transparent: rgba(255, 255, 255, 0);
    --rzd-c-normal-placeholder: #a9aeba;
    --rzd-c-normal-icon: #a9aeba;
    --rzd-c-normal-value: #1f1f24;
    --rzd-c-normal-selected: #e21a1a;
    --rzd-c-normal-unchecked: #d9dbdf;
    --rzd-c-normal-dark-background: rgba( 31, 31, 36, .2 );
    --rzd-c-normal-link: #e21a1a;
    --rzd-c-normal-tab: #46484c;
    --rzd-c-hover-button-cta: #c31b1c;
    --rzd-c-hover-button-primary: #fff;
    --rzd-c-hover-button-accent-light: transparent;
    --rzd-c-hover-button-accent-calendar: rgba(227, 27, 26, .7);
    --rzd-c-hover-button-background-secondary: #c31b1c;
    --rzd-c-hover-button-icon: transparent;
    --rzd-c-hover-button-border: transparent;
    --rzd-c-hover-border: #a9aeba;
    --rzd-c-hover-background: #fff;
    --rzd-c-hover-value: #1f1f24;
    --rzd-c-hover-checkbox-border: #c31b1c;
    --rzd-c-hover-checkbox-background: rgba(31, 31, 36, .5);
    --rzd-c-hover-link: #c31b1c;
    --rzd-c-down-button-cta: #c31b1c;
    --rzd-c-down-button-primary: rgba( 255, 255, 255, .75 );
    --rzd-c-down-button-accent-light: transparent;
    --rzd-c-down-button-background-secondary: #c31b1c;
    --rzd-c-down-button-icon: transparent;
    --rzd-c-down-button-border: transparent;
    --rzd-c-down-border: #767d89;
    --rzd-c-down-background: #fff;
    --rzd-c-down-value: #1f1f24;
    --rzd-c-down-checkbox-border: #c31b1c;
    --rzd-c-down-checkbox-background: rgba(31, 31, 36, .8);
    --rzd-c-down-link: #1f1f24;
    --rzd-c-disabled-button-cta: #d9dbdf;
    --rzd-c-disabled-button-primary: #a9aeba;
    --rzd-c-disabled-button-icon: #767d89;
    --rzd-c-disabled-button-secondary: #a9aeba;
    --rzd-c-disabled-button-border: transparent;
    --rzd-c-disabled-value: #767d89;
    --rzd-c-disabled-background: #d9dbdf;
    --rzd-c-disabled-selected: rgba(255, 255, 255, .3);
    --rzd-c-disabled-checkbox-background: rgba(255, 255, 255, .2);
    --rzd-c-expansion-panel-background: #f3f3f3;
    --rzd-c-opened-expansion-panel-background: #d9dbdf;
    --rzd-c-disabled-link: rgba(226, 26, 26, .25);
    --rzd-c-other-gender-man: #1f1f24;
    --rzd-c-other-gender-woman: #1f1f24;
    --rzd-c-other-avatar-background: #e9eaed;
    --rzd-c-other-avatar-pic: #1f1f24;
    --rzd-c-other-calendar-weekend: rgba(227, 27, 26, .75);
    --rzd-c-other-calendar-weekend-disabled: rgba( 227, 27, 26, .25 );
    --rzd-c-other-transport-icon: #e21a1a;
    --rzd-c-other-service-icon-enabled: #1f1f24;
    --rzd-c-other-service-icon-disabled: #1f1f24;
    --rzd-c-other-illustration: #a9aeba;
    --rzd-c-other-statement-background: #f7e9b7;
    --rzd-c-card-price-color: #404a58;
    --rzd-c-45-day: #f5d4d4;
    --rzd-c-60-day: #f7e9b7;
    --rzd-c-90-day: #c7e7bf;
    --rzd-c-120-day: #cccbf1;
    --rzd-c-text-primary: #1f1f24;
    --rzd-c-text-secondary: #767d89;
    --rzd-c-text-light: #fff;
    --rzd-c-text-secondary-dark: #a9aeba;
    --rzd-c-page-divider: #d9dbdf;
    --rzd-c-page-background: #e9eaed;
    --rzd-c-page-card-background: #fff;
    --rzd-c-page-title-background: #fff;
    --rzd-c-page-segment-background: #fff;
    --rzd-c-page-sidebar-background: #464a53;
    --rzd-c-page-sidebar-list-background: rgba(31, 31, 36, .5);
    --rzd-c-page-tooltip-background: #40434a;
    --rzd-c-page-footer-background: #464a53;
    --rzd-c-page-header-background: #fff;
    --rzd-c-page-nav-bar-background: #fff;
    --rzd-c-page-services-background: transparent;
    --rzd-main-page-panel-background: rgba(233, 234, 238, .87);
    --rzd-c-system-error: #ff5a13;
    --rzd-c-system-warning: #464a53;
    --rzd-c-system-complete: #2bbe5d;
    --rzd-c-system-train: #e21a1a;
    --rzd-c-system-aeroexpress: #e21a1a;
    --rzd-c-system-suburban: #2bbe5d;
    --rzd-c-system-avia: #1f1f24;
    --rzd-c-system-boat: #e21a1a;
    --rzd-c-system-boat_train: #e21a1a;
    --rzd-c-system-bus: #1f1f24;
    --rzd-c-system-accent: #e21a1a;
    --rzd-c-system-emphasis-accent: #ff5a13;
    --rzg-c-notifications-prompt-background: #f4f4f6;
    --rzg-c-notifications-prompt-background-transparent: rgba(244, 244, 246, 0);
    --rzd-box-shadow-dialog-alert: 0 4px 12px rgba(0, 0, 0, .3);
    --rzd-box-shadow-tooltip: 0 2px 6px rgba(0, 0, 0, .4);
    --rzd-box-shadow-card-default: 0 1px 3px rgba(0, 0, 0, .2);
    --rzd-box-shadow-card-hover: 0px 8px 24px rgba(0, 0, 0, .16);
    --rzd-image-filter: none;
    --svg-scheme-gender-stateroom-st0-fill: #fff;
    --svg-scheme-gender-stateroom-st1-fill: #d2d7db;
    --svg-scheme-windows-stroke: #d2d7db;
    --svg-seat-stroke-unavailable: #ecf0f1;
    --svg-seat-fill-unavailable: #ecf0f1;
    --svg-seat-stroke-available: #5583de;
    --svg-seat-fill-available: #81bfff;
    --svg-seat-stroke-selected: #242f3f;
    --svg-seat-fill-selected: #394a58;
    --svg-seat-fill-available-hover: #bcdeff;
    --svg-seat-fill-selected-hover: #6b7882;
    --svg-seat-stroke-emphasis: #eb3349;
    --svg-bed-background-color: #ecf0f1;
    --svg-bed-border-color: #c8c8cd;
    --svg-bed-color: #c8c8cd;
    --svg-bed-border-radius: 4px;
    --svg-bed-border-color-available: #5583de;
    --svg-bed-background-color-available: #81bfff;
    --svg-bed-color-available: #fff;
    --svg-bed-border-color-selected: #394a58;
    --svg-bed-background-color-selected: #394a58;
    --svg-bed-color-selected: #fff;
    --svg-bed-border-color-unavailable: #394a58;
    --svg-bed-background-color-unavailable: #ecf0f1;
    --svg-bed-color-unavailable: #c8c8cd;
    --svg-seat-stroke-not-fit: #99ccff;
    --svg-seat-fill-not-fit: #bcdeff;
    --rzd-bkit-gender-selector-default-bg-color: #f3f3f3;
    --rzd-bkit-gender-selector-default-bg-color-hover: #c31b1c;
    --rzd-bkit-gender-selector-active-bg-color: #c31b1c;
    --rzd-bkit-gender-selector-delimeter-color: #d9dbdf;
    --rzd-bkit-modal-shadow: 0 8px 20px rgba(#1f1f24, .3);
    --rzd-bkit-modal-header-shadow: 0 1px #d9dbdf;
    --rzd-bkit-modal-footer-border-top: 1px solid #d9dbdf;
    --rzd-bkit-modal-footer-box-shadow: 0 -1px #d9dbdf;
    --rzd-bkit-yandex-share-background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg' fill='%231f1f24'%3E%3Cpath fill='%231f1f24' d='M14.6 2.9a2.7 2.7 0 01-4.554 1.963L5.303 7.28a2.702 2.702 0 010 1.44l4.743 2.417a2.7 2.7 0 11-.834 1.708l-5.05-2.575a2.7 2.7 0 110-4.54l5.05-2.575A2.7 2.7 0 1114.6 2.9z'/%3E%3C/svg%3E");
    --rzd-maing-page-route-suggestion: #4a89dc;
    --rzd-side-menu-active-item-marker: #e21a1a;
    --rzd-side-menu-nav-sub-item-bg-color: rgba(31, 31, 36, .5);
    --rzd-side-menu-shadow: 0 8px 20px rgba(0, 0, 0, .301206);
    --rzd-meal-delivery-item-price-background: #d9dbdf;
    --rzd-meal-delivery-item-price-color: #1f1f24;
    --rzd-meal-delivery-timetable-mobile-row-even-color: #1f1f24;
    --rzd-meal-delivery-timetable-station-geo-color: var(--rzd-c-normal-button-cta);
    --rzd-booking-breadcrumbs-color: var(--rzd-c-text-light);
    --rzd-booking-breadcrumbs-selected-color: var(--rzd-c-text-light);
    --rzd-booking-breadcrumbs-background: var(--rzd-c-disabled-button-cta);
    --rzd-booking-breadcrumbs-selected-background: var(--rzd-c-normal-selected);
    --rzd-booking-breadcrumbs-line-background: var(--rzd-c-disabled-button-cta);
    --rzd-booking-breadcrumbs-outline-color: var(--rzd-c-outline-color)
}